body {
  margin: 0;
  padding: 0;
  width:100%;
  overflow-x:hidden;
  color:turquoise;
  text-shadow:0 0  white;
  font-size:2em;
}

.parent-block {
    position: absolute;
    overflow-x: hidden;
}

.myblock {
    position: relative;
    background: #000;
    margin: 20px auto;
    padding: 20px;
    height: 200px;
    width: 500px;
    color: #fff;
    left:25%;
}