html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
    z-index: 998;
    overflow-x: hidden;
}



.main-container {
    position: relative;
    z-index: 999;
    height: 100%;
    width: 100%;
}

/*ABOUT PARTICLES*/
#particles-js1{
    width: 100%;
    height: 100%;
/*    left: 75%;*/
    right: 75.1%;
    z-index: 1;
    position: absolute;
    background-color: "white";
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#particles-js2{
    width: 100%;
    height: 100%;
    left: 74.4%;
    z-index: 1;
    position: absolute;
    background-color: "white";
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/*STOPPED ABOUT PARTICLES*/

/*WRAPPING VERTICAL LINES*/
.vertical-line-1 {
    position: absolute;
    border-left: 3px solid green;
    height: 100%;
    left: 25%;
}

.vertical-line-2 {
    position: absolute;
    border-left: 3px solid green;
    height: 100%;
    right: 25%
}

/*ABOUT SEARCHING <INPUT> */
.block-to-search {
    width: 100%;
    margin-top: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.search-users-layout {
    width: 40ch;
    height: 3ch;
    transition: transform 1s;
    border-radius: 100px;
    border: solid #e9f0fe;
    text-align: center;
}

.search-users-layout::placeholder {
	text-align: center;
    color: #838488;
}

.search-users-layout:hover {
    transform: scale(1.1, 1.1);
}

.search-users-layout:focus {
    transform: scale(1.1, 1.1);
}
/*STOPPED ABOUT SEARCHING <INPUT>*/


/*ABOUT USER'S CONFIGURATION*/
.user-preview-full-profile{
    z-index: 999;
    height: 100%;
    width: 100%;
    margin: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.make-message {
    width: 50%;
    height: 5%;
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;        /* for single line flex container */
    align-content: center; 
}

.make-message-button {
    background-color: white;
    border-style: none;
    font-size: 30px;
    width: 90%;
    height: 100%;
    transition: transform .1s;
}

.make-message-button:hover {
    transform: scale(1.1, 1.1);
    border-color: aqua;
    background-color: #f1f1f1;
    color: #24a4db;
}


/*ABOUT USER'S AVATAR*/
.user-avatar-preview-block {
    height: 60%;
    width: 40%;
    padding-top: 1.5%;
}

.user-profile-avatar {
    image-resolution: from-image;
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    transition: transform .4s;
}

.user-profile-avatar:hover {
    transform: scale(1.03, 1.03);
}

/*STOP ABOUT USER'S AVATAR*/

/*ABOUT USER'S USERNAME*/
.show-user-name {
    
    font-size: 25px;
}

.show-user-name > p {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    display: inline-block;
    position: relative;
    color: #0087ca;
    transition: transform .4s;
}

.show-user-name > p:hover {
    transform: scale(1.03, 1.03);
}

.show-user-name > p:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #838488;
    transform-origin: bottom center;
    transition: transform 0.1s ease-out;
}

.show-user-name > p:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}


/*ABOUT ABOUT USER*/

.show-about-user {
    max-width: 45%;
    font-size: 15px;
    margin-bottom: 1%;
}













